

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ /Task/index.php/$1 [L]
   ## Force www;
   RewriteCond %{HTTP_HOST} ^Task$ [NC]
   RewriteRule ^(.*)$ http://localhost/Task/$1 [R=301,L]
</IfModule>
<IfModule !mod_rewrite.c>
   ErrorDocument 404 /Task/index.php
</IfModule>


